# Vite
dist/
.vite/

# Dependencies
node_modules/
yarn.lock

# IDE
.idea/
.vscode/
*.swp
*.swo
*~

# OS
.DS_Store
.env
.env.local
.env.*.local

# Build
*.log

# Vite timestamp files
vite.config.js.timestamp-*

# Temp
dist2/
